@model IEnumerable<DIS.Scheduler.Common.Models.API_Caller_JobDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>ThreadUser: @ViewBag.ThreadUser</p>
<p>HttpUser: @ViewBag.HttpUser</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Method)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CronExpression)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monitor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalHeaders)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Method)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CronExpression)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monitor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalHeaders)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
